
header{
display: grid;
grid-template-columns: repeat(20,1fr);
background-color: rgb(0, 0, 0);
height: 45px;
position: fixed;
width: 100%;
}

.switch{
   grid-column: 20/21;
   width: 30px;
   margin-top: 8px;
   cursor: pointer;
}
.switch:hover{
background-attachment: fixed;
}

.imghome{
    width: 30px;
    margin-left: 10px;
    margin-top: 8px;
}
/* ....................................................nav................................................................... */
nav{   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(113, 173, 94);
    height: 35px;
    align-items: center; 
    position: fixed;
    width: 100%;
    margin-top: 45px;
}

nav a{
    font-size: larger;
    color: black;
    text-decoration: none;
    align-content: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    height: 100%;
}

nav a:hover{
    background-color: antiquewhite;
}

@media (max-width:630px) {
nav a{
    width: 100%;
    margin-left: 0%;
    font-size: medium;
 }   
}
/*..................................................presentación................................................................... */
#Presentación{
 display: flex;
 flex-direction: row;
 padding-top: 80px;
 height: 619px;
 width: 100%;
 background-color: antiquewhite;
}

#imgpresentación{
    margin-top: 10px;
    justify-self: end;
/* background-color: blue; */
width: 300px;
/* height: 90%; */
/* object-fit: cover; */
}

#Presentación p{
    background-color: rgb(122, 101, 101);
    height: 60px;
    width: 250px;
    font-size: xx-large;
    text-align: center;
    /* margin-top: 120px; */
    }

.nombreyperfil{
    display: flex;
    flex-direction: column;
    width:50% ;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

h1{
    background-color: brown;
    width: 60%;
    text-align: center;
    }
    
    #imgperfil{
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-top: 10px;
        
    }

@media (max-width:726px) {
    #imgpresentación{
        width: 0px;
        height: 0px;
        visibility: hidden;
     }
     #Presentación{
    flex-direction: column;
    align-items: center;
    }
    .nombreyperfil{
        width: 100%;
        margin-top: 5px;
    }
    h1{
        width: 80%;
    }
    
}
@media (min-width:726px) {
    #Presentación p{
        margin-top: 120px;
    }
}
@media (max-width:830px) and (min-width:726px) {
    #imgpresentación{
        width: 200px;
        height: 350px;
        
    } 
}



/* .................................................sobre mi....................................................... */
#sobremi{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(7,1fr);
    width: 100%;
    height: 619px;
    /* background-color: rgb(226, 111, 111); */
}

#sobremi.dark{
    background-color: rgb(63, 57, 57);

}

#sobremi h2{
    grid-row: 2/4;
    grid-column: 2/7;
    align-self: center;
    justify-self: center;
    border-style: double;
    background-color: rgb(193, 193, 209);
    width: 100%;
    text-align: center;
}

#sobremi p{
    grid-row: 5/8;
    grid-column: 3/6;
    
}

@media (max-width:837px){
    #sobremi{
        grid-row: 3/4;
        grid-column: 3/6;
    }
    #sobremi p{
        grid-row: 5/8;
        grid-column: 2/7;
    }
}

/* .....................................................estudios............................................................. */
#estudios{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 619px;
    background-color: rgb(95, 115, 145);
    padding-top: 110px;
    justify-content: space-around;
    font-size: x-large;
}

#estudios h2{
    align-self: center;
    justify-self: center;
    border-style: double;
    background-color: rgb(193, 193, 209);
    width: 75%;
    text-align: center;
}

#estudios ul{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(230, 8, 8); */
    justify-content: space-between;
    margin-left: 10px;
}

.idiomass{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(70, 128, 73); */
    justify-content: center;
    align-items: center; 
} 

.cadaidioma{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(160, 196, 196); */
    margin-left: 120px;
}

.encurso{
    background-color: brown;
    width: 108px;
    height: 40px;
    text-align: center;
    font-size: large;
    border: 1px solid black;
}

.encurso:hover{
background-color: rgba(233, 228, 221, 0.74);
}

button{
    width: 100px;
    background-color: brown;
    }

button a{
    text-align: center;
    font-size: large;
    text-decoration: none;
    color: black;
    
}
.cursos{
    display: flex;
    flex-direction: column;
}

.cursos li{
    display: flex;
    flex-direction: column;
}

@media (max-width:653px){
    #estudios{
        font-size: medium;
    }
    .encurso{
        width: 99px;
        height: 30px;
    }
}
/*...................................................proyectos......................................................... */
#proyectos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 879px;
    background-color: rgb(207, 98, 108);
    padding-top: 110px;
    /* justify-content: space-around; */
    font-size: x-large;
}

#proyectos h2{
    align-self: center;
    justify-self: center;
    border-style: double;
    background-color: rgb(193, 193, 209);
    width: 75%;
    text-align: center;
}

.ambosproyectos{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 60%;
    justify-content: space-around;
    margin-top: 7%;
    
}
@media (max-width:808px){
    .ambosproyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .cadaproyecto{
        margin-bottom: 20px;
        }
}


@media (max-width: 540px){    
   
        .img-icono{
            justify-content: end;
            width: 100%;  

        }
        .img-icono img{
            justify-content: end;
            width: 45%;     
        }
        .img-icono a img {
            justify-content: end;
            width: 20px;     
        }
}

.cadaproyecto{
    display: flex;
    flex-direction: column;
    background-color: rgb(143, 112, 170);
    border: 2px solid rgb(0, 0, 0);
    width: 50%;

}

@media (min-width: 808px){    
    .cadaproyecto{
        width: 40%;
        }
} 

.cadaproyecto p{
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    color: black;
}
.img-icono a img{
    width: 90px;
}
.img-icono{
   display: flex;
   justify-content: space-around;

   

}

.imgproyecto{
    /* width: 60%;
    height: 45%; */
    object-fit: cover;
    padding-top: 6px;
}



body{
    background-color: aliceblue;
}
body.dark{
    background-color: black;
}
/* ........................................................redes..................................................... */
#redes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 619px;
    background-color: rgb(10, 74, 170);
    padding-top: 90px;
    justify-content: space-around;
    font-size: x-large;
}

#redes h2{
    align-self: center;
    justify-self: center;
    border-style: double;
    background-color: rgb(193, 193, 209);
    width: 75%;
    text-align: center;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li a img{
    width: 100px;
}

li a img:hover{
    transition: 1s;
}

@media (max-width: 538px){    
    li a img{
     width: 70px;
    }
} 

footer{
    width: 100%;
    background-color: rgb(22, 21, 21);
    height: 40px;
    text-align: center;
    color: aliceblue;
    font-size: small;
}

footer img{
    width: 20px;
 
}